<nav class="max-width-4 mxauto pt2 px2">
  <div class="clearfix">
    <div class="Logo__container col col-7 pt2 pb2">
      <a href="/">
        {%- include logo.html -%}
      </a>
    </div>
    <div class="col col-5">
      <ul class="fixed ml2 pt2 list-reset founders-grotesk font-size-n color-gray">
        <li class="pb1">
          <a href="/">
            Introduction
          </a>
        </li>
        <li class="pb1">
          <a href="/getting-started">
            Getting started
          </a>
        </li>
        <li class="pb1">
          <a href="/settings">
            Settings
          </a>
        </li>
        <li class="pb1">
          <a href="/class-definitions">
            Class Defintions
          </a>
        </li>
        <li class="pb1">
          <a href="/sass-utilities">
            Sass Utilities
          </a>
        </li>
        <li class="pb1">
          <a href="/usescases">
            Usecases
          </a>
        </li>
        <li class="pb1">
          <a href="/github">
            Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
