<!-- implement as such -->
<!--
{% case include.block.implementation %}
  {% when 'float-grid-implementation' %}
    <div>

    </div>
{% endcase %}
-->
<p class="font-size-s founders-grotesk color-gray">
  Result
</p>
<div>
{% case include.block.implementation %}
  {% when 'float-grid' %}
    <div class='clearfix mxn2 border border-gray color-white'>
      <div class='col col-12 md:col-4 px2 py3 bg-color-light-gray'>
      </div>
      <div class='col col-12 md:col-4 px2 py3 bg-color-light-gray'>
        COLUMN #2
      </div>
      <div class='col col-12 md:col-4 px2 py3 bg-color-light-gray'>
        COLUMN #2
      </div>
      <div class='col off-4 col-8 px2 py3 bg-color-light-gray'>
        OFFSET COLUMN
      </div>
    </div>
  {% when 'aspect-ratio-helper' %}
    <div>
      <div class="aspect-portrait bg-color-light-gray my2">
      </div>
      <div class="aspect-landscape bg-color-light-gray my2">
      </div>
    </div>
{% endcase %}
</div>
