<div class="mb2">
  <div class="flex flex-row justify-between items-center py_5">
    <p class="font-size-s founders-grotesk color-gray">
      {{ include.block.title | xml_escape }}
    </p>
    {% if include.block.tag %}
      {% case include.block.tag %}
        {% when 'dynamic' %}
          {% include blocks/dynamic_tag.html %}
        {% when 'responsive' %}
          {% include blocks/responsive_tag.html %}
      {% endcase %}
    {% endif %}
  </div>
  {% if include.block.caption %}
    <p class="block font-size-s founders-grotesk color-light-gray">
      {{ include.block.caption | xml_escape }}
    </p>
  {% endif %}
  {% if include.block.code %}
    <div class="CodeBlock__container bg-white p_5">
      {% capture language %}
        {% case include.block.language %}
          {% when 'css' %}
            language-css
          {% when 'html' %}
            language-markup
          {% else %}
            language-markup
        {% endcase %}
      {% endcapture %}
      <pre>
        <code class="{{ language }} pre-wrap founders-grotesk-mono font-size-s color-blue">
          {{ include.block.code | xml_escape }}
        </code>
      </pre>
    </div>
  {% endif %}
  {% if include.block.note %}
    <p class="font-size-xs line-height-xs founders-grotesk color-light-gray pt1">
      <span class="bold">Note:</span>
      {{ include.block.note | xml_escape }}
    </p>
  {% endif %}
</div>
