<div class="TagDescription clearfix flex flex-row flex-wrap">
  <div class="TagDescription__tag col col-3 mb1">
    {% case include.block.tag %}
      {% when 'dynamic' %}
        {% include blocks/dynamic_tag.html %}
      {% when 'responsive' %}
        {% include blocks/responsive_tag.html %}
    {% endcase %}
  </div>
  <div class="TagDescription__description col col-9">
    <p class="font-size-s line-height-s line-height-s mb2 color-gray">
      {{ include.block.body | xml_escape}}
    </p>
  </div>
</div>
