a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
}

/*
styling code
*/
.comment {
  display: block;
  color: grey;
}

/*
What input
*/
[data-whatintent='mouse'] *:focus {
  outline: none;
}

/*
Manual Resets
*/
*:focus {
  outline-color: grey;
}