.max-width-4 {
  max-width: 68rem;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.box-shadow {
  box-shadow: 2px 3px 6px #00000012;
  border-radius: 0.25rem;
}
