.max-width-4 {
  max-width: 68rem;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.box-shadow {
  box-shadow: 2px 3px 6px #00000012;
  border-radius: 0.25rem;
}

.disable {
  cursor: unset;
  pointer-events: none;
}

.menu-hover {
  transition: all 0.25s ease;

  &:hover {
    color: rgb(70, 70, 70);
  }
}

.linked-text {
  transition: all 0.25s ease;
  border-bottom: dotted black 1px;
  
  &:hover {
    color: rgb(70, 70, 70);
  }
}

.inline-code {
  @extend .founders-grotesk-mono;
  color: color('blue');
  background-color: #f9f9f9;
  border: solid 1px #e0d8d8;
  border-radius: 3px;
  padding: 0 0.1875rem 0.0625rem;
  line-height: 0.8rem;
}