$colors: (
  'black': black,
  'white': white,
  'gray': #292929,
  'light-gray': #757575,
  'lighter-gray': #DBDBDB,
  'light-blue': #3867FF,
  'blue': #1950FF,
  'green': #028644,
  'purple': #3121F2,
  'white-wash': #EEEEEE,
  'wash-gray': #979797
);

@each $name, $color in $colors {
  .border-#{$name} {
    border-color: #{$color};
  }

  .fill-#{$name} {
    fill: #{$color};
  }
}
